* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: var(--first-color);
    overflow-x: hidden;
    padding: 0.1rem;
    transition: .5s;
}

/* CSS VARIABLES */
:root {
    /*
    --header-height: 3rem;
    --nav-width: 68px; */
    /* Colors */
    --first-color: #DBF0FA;
    --second-color: #84C7F9;
    --white-color: #F9FAFB;
    --black-color: #4A4A4B;
    --top-color: #B2DAF8;

    /* Z-index 
    --z-fixed: 100; */
}

/* == BASE == */


/* == NAV == 
nav {
    display: flex;
    top: 0;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: transparent;
    
}
   
    


.logo h2 {
    color: var(--white-color);
}

.nav__bag .fa {
    color: white;
}


.nav__links {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    height: 92vh;
    top: 8vh;
    width: 35%;
    background-color: var(--first-color);
    align-items: center;
    justify-content: space-around;
    transform: translateX(200%);
    transition: transform 0.5s ease-in;
}

.nav__links li {
    list-style: none;
    font-size: 20px;
}

.nav__links a {
    text-decoration: none;
    color: inherit;
    margin: auto;
}

.nav__links a:hover {
    color: var(--black-color);
}

.burger div {
    width: 25px;
    height: 5px;
    margin: 5px;
    background-color: var(--white-color);
}

.burger:hover {
    cursor: pointer;
}

*/
.page__top {
    text-align: center;  
    padding-top: 1rem; 
    height: 5vh;
    background-color: var(--top-color);
    font-size: .8rem;
    opacity: 0.7;    
    width: 100%;
    color: black;
    
}

.page__top img {
    width: .6rem;
}



.header {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: space-between;
    align-items: center; 
    height: 10vh;   
    top: 0;
    left: 0;
    right: 0; 
}


.header__message {
    position: fixed;
    font-size: 20px;
}



.header__control {
    display: flex;
    width: 100%;
    flex-wrap: wrap;    
    justify-content: space-between;
} 

.burger button {
    background-color: transparent;
    border: none;
}

.close-btn {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
}

.fa-bars{
    color: black;
}

.headerMoved {
    background-color: var(--first-color);
}


.content__bag{
   
    flex: 1;
    text-align: center;
    
}

.bag__img {

}

.content__bag img {
    padding-top: 2%;
    width: 15%;
    height:15%;
    
}

.content__search {
   
    flex-shrink: 1;
    text-align: center;
    
}

.content__logo {
    text-align: center;  
    
    flex: 1;
}


.burger {
  
    flex: 1;
    text-align: center;
}




.nav {
    height: 100%;
    width: 0;

    position: fixed;
    display: flex;
    flex-direction: column; 
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--first-color);
    padding-top: 60px;
    transition: 0.4s;
}


.nav button {
    position: absolute;
    transform: translateX(-110%);
    width: 10%;
    height: 7%;
    background-color: var(--black-color);
    opacity: 0.8;
    border: none;
    color: var(--white-color);
    font-size: 200%;
    outline: none;
}

.nav button:active {
    border: none;
    outline: none;
}


.logo__menu {
    margin-top: 50%;
    
}

.logo__menu img{
    align-items: center;
    margin-left: 30%;   
    height: 2.5vh;
    width: 4vw;
}

.logo__menu p {
    align-items: center;
    margin-left: 25%;
    margin-bottom: 20%;
}
.nav a {
    display: block;
    padding: 10%;
    margin-left: 5%;    
    font-size: 1rem;
    text-decoration: none;
    color: var(--black-color);
}


/* == HERO SECTION == */
.hero-section {
    background-color: var(--black-color);
    height: 100vh;

    background-size: cover;
    background-image: url('imgs/bannerBackground3.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 150%;
    color: #84C7F9;
    
}

.hero-section h2 {
    color: #84C7F9
}

.hero-section p {
    color: #84C7F9;
}

.hero-section span {
    color:#84C7F9
}

/* == BANNER == */
.banner {
    background-color: var(--first-color);
    height: 50vh;
}



/* == PRODUCT SECTION == */
.front__product {
    height: 30vh;
    background-color: var(--first-color);
    text-align: center;
    padding: 50px;    
}

/* == FEATURED PRODUCT == */
.featured__product {
  
    height: 70%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
}

.featured__bag {
    
    margin-bottom: 20px;
    margin-top: .7rem;
}

.featured__bag i {
    background-color: var(--first-color);
    width: 2rem;
    height: 2rem;
}

.featured__product .product__image__slider img {
    max-width: 100%;
}

.featured__product__info {
    text-align: center;
    padding-bottom: 30%;
}

.featured__bag {
    transform: translateY(-120%);
}



/* == WELCOME SECTION == */

.welcome__section {
    display: flex;
    
    height: 70%;

}

.welcome__section .left__section {
    font-size: 15px;
    text-align: center;
}

.welcome__section .right__section {
    text-align: center;
    padding-top: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-top: 2%;
    font-size: 20px;
}

/* == INSTAGRAM SECTION == */
.insta__section {
    display: flex;
    height: 8rem;
    background-color: var(--second-color);
}
.insta__logo img {
    width: 30%;
    margin-left: 6rem;
    margin-top: 2rem;
    color: var(--first-color);
}

.insta__logo {
    
    flex: 1;    
    
}


.insta__info {
    
    align-items: center;
    margin-top: 1.2rem;
    flex: 1;
}
/* == ABOUT SECTION == */
.about__section {
    height: 70vh;
    background-color: var(--first-color);
    display: flex;
    flex-direction: column;
    color: var(--white-color);    
    
}

.about__header {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.about__info {
    text-align: center;
    padding: 5px;
}

/* == CONTACT US == */
.contact__us {
    margin-top: 20px;
    background-color: var(--first-color);
    display: flex;
    flex-direction: column;
}

.contact__header {
    margin-bottom: 1rem;
    text-align: center;
    color: var(--black-color);
}

.form__control input {
    width: 100%;
    height: 30px;
    border-left: none;
    border-top: none;
    border-right: none;
}

.form__control input {
    background-color: var(--first-color);
    padding-left: 5px;
}

.form__control textarea {
    height: 30vh;
    width: 100%;
    padding-left: 5px;
    padding-top: 5px;
    background-color: var(--first-color);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.form__control .btn {
    width: 90%;
    height: 10vh;
    background-color: #88C5F2;
    align-items: center;
    font-size: 20px;
    justify-content: center;
    letter-spacing: 10px;    
    margin-bottom: 10px;
}

.button {
    
    text-align: center;
   
}


/* == FOOTER == */

footer {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* == HEADER == 
.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s;
}

.header__toggle {
    color: var(--black-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.header__toggle .fa {
    margin-left: 10px;
}

.header__img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

/* == NAVBAR LATERAL == 
.l-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(var(--nav-width) + 156px);
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed);
}



.container {
  
    margin: auto;
    
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    
    
}

h4 {
    color: #555;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.rating .fa {
    color: #ff523b;
}

.col-4:hover {
    transform: translateY(-5px);
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background: #ff523f;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
    text-align: center;
}

.col-2 img {
    max-width: 100%;
}

.col-2 h1 {
    font-size: 43px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background:  #364652;
    color: white;
    padding: 10px 30px;
    margin: 50px 0;
    border-radius: 30px;
    transition: 0.5s;
}

.btn:hover {
    background: #C7DBE6;
    color: #364652;
    
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transform: translateX(100%);
    transition: transform 0.5s;
}

.col-4 img {
    max-width: 100%;
}
*/

@media(max-width: 500px) {
   
    .nav__links a {
        text-align: center;
        width: 30%;
        margin-right: auto;
    }
    .nav__links li {
        left: 0;
        padding-right: 30px;
        font-size: 15px;
        margin: auto;
        text-align: center;
    }

    
}

.nav-active {
    transform: translateX(300%);
}